<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-br" />-->
    <webServices>
      <protocols>
        <!--<add name="HttpSoap"/>-->
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
    <!--<httpModules>
      <add name="ContentTypeHttpModule"
                      type="ContentTypeHttpModule.ContentTypeHttpModule, ContentTypeHttpModule" />


    </httpModules>-->
  </system.web>
  <appSettings>
    <add key="img" value="/fiquerico/img/" />
    <add key="dados" value="/fiquerico/App_Data/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Facebook" publicKeyToken="58cb4f2111d1e6de" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.10.0" newVersion="6.0.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>